<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>

	<!-- reset.css -->
	<link rel="stylesheet" type="text/css" href="/css/reset.css">

	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">

    </head>
    <body>

	<div id="container">
	    <div id="aside-container">
		<aside>
		    <h1><a href="/index.html">Leo's Blog</a></h1>
		    <nav>
			<ul>
			    <li><a href="/index.html">Home</a></li>
			    <li><a href="/projects.html">Projects</a></li>
			    <li><a href="/about.html">About</a></li>
			</ul>
		    </nav>
		</aside>
		<article>
		    <div>
			{{ content }}
		    </div>
		</article>
	    </div>
	</div>
    </body>
</html>
